/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto', sans-serif;
}

header{
    background-color: #ff6900;
    height: 70px;
    color: white;
    display: flex;
    justify-content: center;
}

header ul>li{
    display: inline;
}

header ul.width{
    width: 15%;
}

header div.boolean-logo{
    width: 40%;
}

div.boolean-logo img{
    height: 100%;
    text-align: center;
}